{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <link type="text/css" href="{{ url_for('static', filename='css/style1.css') }}" rel="stylesheet"/>

    <div class="wrapper">

        <script>
            /* Когда пользователь нажимает на кнопку, переключаться раскрывает содержимое */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Закрыть раскрывающийся список, если пользователь щелкнет за его пределами.
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>


        <ul>
            <li class="kolunoesig-lankaned" id=""></li>
            <li class="kolunoesig-lankaned" id=""></li>
            <li class="kolunoesig-lankaned" id=""></li>
            <li class="kolunoesig-lankaned" id=""></li>
            <li class="kolunoesig-lankaned" id=""></li>
        </ul>
        <div class="home__cover content" id="masedam">
            <img class="home__cover--image" src="{{ path }}" align="left">
            <div class="bottom-left"><span>Лаборатория</span><br>
                <div class="bottom-l">искусственного</div>
                <br>интеллекта
            </div>
        </div>
        <div class="content mt-5">
            <div class="about" id="dev">
                О нас
            </div>
            <div class="txt">
                Создана в 2022 году для выработки ответов на большие вызовы фундаментальной науки и индустрии,
                связанные
                с
                автоматизацией обработки данных и обеспечением информационной безопасности, реализации Национальной
                стратегии
                развития искусственного интеллекта
            </div>
            <div class="about" id="naszabuv">
                Проекты
            </div>
            <div class="proj">
                <div class="pram">
                    {% for post in posts %}
                        {% if post["status"] == 'public' %}
                            <div class="child"><p class="Z">{{ post['title'] }}
                                <p>{{ post['created'] }}
                                <p>{{ post['content'] }}
                                <p class="Z">{{ post['autor'] }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="about" id="kirasib">
                Новости
            </div>
            
            {% for post in res %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src=".{{ post['img'] }}" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">{{ post['content'] }}</p>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}

            <div class="about" id="kirasib">
                Технологии
            </div>
            {% for tecn in tecnol %}
                <div class="technolog">
                    <div class="perTech">
                        <div class="childTech">
                            <details>
                                <summary>{{ tecn['summary'] }}</summary>
                                <p>{{ tecn['content'] }}</p>
                            </details>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr>

            <div class="imcontent d-flex justify-content-between">
                <div class="Im">
                    <img src="{{ path1 }}"/>
                </div>
                <div class="tx">
                    Руководитель лаборатории<br>Шарапов Артем Андреевич</p>
                </div>
            </div>
        </div>


        <hr>
        <div class="content position-relative">
            <div class="Im2">
                <img src="{{ path2 }}">
            </div>
            <form class="form__feedback" action="{{ path3 }}" method="post" id="form__feedback">
                <h3 class="form__feedback--h">Написать нам</h3>
                <input class="form__feedback--input" type="text" name="name" placeholder="Имя" required>
                <input class="form__feedback--input" type="email" name="email" placeholder="Email" required>
                <textarea class="form__feedback--input" name="text" id="" rows="2"
                          placeholder="Введите текст"></textarea>
                <button type="button" class="form__feedback--btn">Отправить форму</button>
                <div class="status"></div>

            </form>
        </div>
    </div>
{% endblock %}