{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<link type="text/css" href="{{ url_for('static', filename='css/style1.css')}}" rel="stylesheet" />


<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn"> ...</button>
    <div id="myDropdown" class="dropdown-content">
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('profile') }}">Профиль</a>
        <a href="#kirasib">Новости</a>
        <a href="#agmod">Технологии</a>
      <a href="#">Контакты</a>
    </div>
</div>
<script>
    /* Когда пользователь нажимает на кнопку, переключаться раскрывает содержимое */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    // Закрыть раскрывающийся список, если пользователь щелкнет за его пределами.
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
</script>
    

<ul>
    <li class="kolunoesig-lankaned" id=""></li>
    <li class="kolunoesig-lankaned" id=""></li>
    <li class="kolunoesig-lankaned" id=""></li>
    <li class="kolunoesig-lankaned" id=""></li>
    <li class="kolunoesig-lankaned" id=""></li>
</ul>


<div class="container"  id="masedam">
    <img src="{{ path }}" align="left">
    <div class="bottom-left"> <span>Лаборатория</span><br><div class="bottom-l">искусственного</div><br>интеллекта</div>
  </div>

<div class="about" id="dev">
    О нас   
</div>

<div class ="txt">
    Создана в 2022 году для выработки ответов на большие вызовы фундаментальной науки и индустрии, связанные с автоматизацией обработки данных и обеспечением информационной безопасности, реализации Национальной стратегии развития искусственного интеллекта
    </div>
<div class="about" id="naszabuv">
        Проекты
        </div>
   
       
<div class="proj">
    <div class="pram">
        {% for post in posts %} 
          {% if post["status"] == 'public' %}
          <div class ="child"><p class="Z">{{ post['title'] }}
              <p>{{ post['created'] }}
              <p>{{ post['content'] }}
              <p class="Z">{{ post['autor'] }}
          </div>
          {% endif %}
        {% endfor %}
    </div>
</div>
 
 <div class="about" >
   Новости
</div>

<div class="about" id="kirasib">
    Технологии
 </div>
 {% for tecn in tecnol %} 
 <div class="technolog">
     <div class="perTech">
     <div class ="childTech">
        <details>
            <summary>{{ tecn['name'] }}</summary>
            <p>{{ tecn['content'] }}</p>
          </details>
  </div>
  
  </div>
 </div>
  {% endfor %}
<hr>
<div class="Im">
    <img src="{{ path1 }}"/> 
</div>
<div class="tx">
    Руководитель лаборатории<br>Шарапов Артем Андреевич</p>
</div>
<div class="clear"></div>

<hr>
<div class="Im2">
    <img src="{{ path2 }}" align="left">
</div>
<form action="{{ path3 }}" method="post">
  <div class="form-inner">
  <h3>Написать нам</h3>
  <input type="text" class="name" name="name" placeholder="Имя" required>
  <input type="email" name="email" placeholder="Email" required>
  <textarea name="text" id=""  rows="2" placeholder="Введите текст"></textarea>
  <button type="button" class="send-form">Отправить форму</button>
  <div class="status"></div>
  </div>
</form>
{% endblock %}