
<div class="login d-flex align-items-center justify-content-center m-auto w-auto">
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <form action="{{ url_for('login') }}" method="post" class="form-contact">
        <p><label>Email: </label> <input type="text" name="email" value="" requied/>
        <p><label>Пароль: </label> <input type="password" name="psw" value="" requied/>
        <p><input type="submit" value="Войти"/>
    </form>
</div>
